@charset "UTF-8";
/*her impoterer jeg style.css filen*/
/*Her laver jeg alle varibler, og impoterer fonts og styles*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/*variabler*/
/*Her er nogle defualt regler*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Her kommer css koden til "til toppen" knappen */
.border {
  height: 50px;
  width: 50px;
  background: linear-gradient(200.82deg, #FFE9E9 27.89%, #F9C4D2 83.86%) !important;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 90%;
  left: 90%;
  border-radius: 25px;
  transition: 0.3s;
}

.border:hover {
  transform: scale(1.35);
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
}

.border span {
  position: absolute;
  top: 43%;
  left: 35%;
  height: 30%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0);
  border: solid;
  border-color: #000;
  border-width: 3px 0 0 3px;
  transform: rotate(45deg);
}

* {
  scroll-behavior: smooth;
}

/*HEr laver jeg en css class som bruges til vores input, hvor at hvis brugeren taster noget forkert i input skal fejlbekseden opstå i placeholder, hvor placeholderen skifter farve til rød*/
button:hover {
  box-shadow: 1rem 1rem 0.5rem rgba(82, 82, 82, 0.37);
}

/*Her laver jeg en class til alle de ting der skal være bold*/
.bold {
  font-weight: 700;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

/*Her kommer lige en regel til alle texterne, så de for den samme font-size*/
p, h1, h2, h3, button {
  font-family: "Rubik", sans-serif;
}

#wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/*Nu kommer koden til headeren*/
header nav {
  background-color: #FFE9E9;
}

header nav ul {
  background-color: #FFE9E9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 59px;
  /*Her laver jeg hover effekten til dropdown menuen */
}
header nav ul li {
  list-style: none;
}
header nav ul li div.more_info_div {
  flex-direction: column;
  max-width: 120px;
  margin-left: -1.2em;
  display: none;
}
header nav ul li div.more_info_div div.invisible {
  height: 1em;
  opacity: 0;
}
header nav ul li:first-of-type {
  margin-right: 200px;
}
header nav ul li:last-of-type {
  display: none;
}
header nav ul li:hover div.more_info_div {
  z-index: 10;
  display: flex;
  position: absolute;
}
header nav ul li:hover div.more_info_div div {
  background-color: #F9C4D2;
  width: 120px;
}
header nav ul li:hover div.more_info_div div:hover {
  background-color: #FFE9E9;
}
header nav ul li:hover div.more_info_div div a {
  color: #ffffff;
  text-align: center;
  display: block;
  width: 100%;
}
header nav ul li:hover div.more_info_div div.more_info_div_item {
  padding: 29px 15px;
}
header nav ul li a {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/*Her laver jeg stylingen til footeren */
footer {
  margin-top: 10em;
  padding-bottom: 100px;
  background-color: #F5F7F9;
  /*Her kommer koden til listen i footeren, med de forskeillige menu punkter*/
}
footer div.signUp {
  margin: 0 auto;
  position: relative;
  top: -11em;
  max-width: 770px;
}
footer div.signUp p.signUp__p {
  width: 100%;
  text-align: center;
  margin-bottom: 4em;
  font-size: 1.5rem;
  font-weight: 500;
}
footer div.signUp form.signUp__form {
  width: 100%;
  box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
  background-color: white;
  height: 100px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  /*DEtte er knappen*/
}
footer div.signUp form.signUp__form input.mail {
  justify-self: stretch;
  flex-grow: 1;
  padding-left: 1em;
  font-family: "Rubik", sans-serif;
  border: none;
}
footer div.signUp form.signUp__form input.mail:focus {
  outline: none;
}
footer div.signUp form.signUp__form label {
  width: 2em;
  padding-left: 2em;
  text-align: center;
  color: #92D5F6;
}
footer div.signUp form.signUp__form input.submit {
  transition: 0.5s;
  width: 200px;
  background-image: linear-gradient(#FFE9E9, #F9C4D2);
  height: 80px;
  border: none;
  border-radius: 50px;
  font-size: 1.125em;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-left: auto;
  margin-right: 1em;
}
footer div.signUp form.signUp__form input.submit:hover {
  height: 100px;
  width: 220px;
  margin-right: 0em;
}
footer div.footerList {
  margin-top: -2em;
}
footer div.footerList .footerList_ul {
  display: flex;
  margin-left: 61px;
  max-width: 920px;
  justify-content: space-between;
  align-items: center;
}
footer div.footerList .footerList_ul .footerList_li {
  list-style: none;
  /*Den nedstående linje kode, er til det link til den side man er på*/
}
footer div.footerList .footerList_ul .footerList_li a {
  place-items: center;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: #92D5F6;
}
footer div.footerList .footerList_ul .footerList_li a.aktuelleSideFooter {
  background-color: #F9C4D2;
  width: 120px;
  display: grid;
  height: 65px;
  color: white;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
}
footer div.footerList .footerList_ul .footerList_li img {
  max-width: 240px;
  height: 110px;
  margin-right: 152px;
}

@media only screen and (max-width: 768px) {
  #wrapper {
    max-width: 768px;
  }
  header nav ul {
    gap: 40px;
  }
  header nav ul li:first-of-type {
    margin: 0;
  }
}
@media only screen and (max-width: 361px) {
  #wrapper {
    max-width: 360px;
  }
  header nav ul {
    width: 100%;
    z-index: 10;
    position: fixed;
  }
  header nav ul li {
    display: none;
  }
  header nav ul li:first-of-type {
    display: block;
    margin: 0;
  }
  header nav ul li:first-of-type img {
    max-width: 122px;
    max-height: 55px;
  }
  header nav ul li:last-of-type {
    display: block;
  }
  header nav ul.invisible {
    height: 100%;
    width: 100%;
    gap: 2em;
    flex-direction: column;
    justify-content: start;
    padding-top: 10em;
  }
  header nav ul.invisible li {
    display: block;
  }
  header nav ul.invisible li:last-of-type {
    position: absolute;
    top: 2em;
  }
  /*Nu kommer koden  til footeren*/
  footer div.signUp {
    top: -5rem;
  }
  footer div.signUp form.signUp__form {
    width: 265px;
    height: 51px;
    margin: 0 auto;
  }
  footer div.signUp form.signUp__form input#mail {
    max-width: 100px;
  }
  footer div.signUp form.signUp__form input.submit {
    width: 70px;
    font-size: 0.625rem;
    height: 40px;
  }
  footer div.footerList {
    margin-top: -2em;
  }
  footer div.footerList .footerList_ul {
    display: flex;
    max-width: 360px;
    justify-content: space-between;
    align-items: center;
  }
  footer div.footerList .footerList_ul .footerList_li {
    display: none;
  }
}
/*Her kommer stylingen til forsiden*/
section.index_h1_over_img {
  display: grid;
}
section.index_h1_over_img img {
  grid-area: 1/1/2/2;
}
section.index_h1_over_img div.index_h1_over_img__div {
  grid-area: 1/1/2/2;
  align-content: center;
  justify-self: end;
  padding-right: 12rem;
}
section.index_h1_over_img div.index_h1_over_img__div .index_h1_over_img__div__h1 {
  font-size: 4rem;
  justify-self: end;
  color: white;
  text-align: end;
}
section.index_h1_over_img div.index_h1_over_img__div .index_h1_over_img__div__p {
  font-size: 2.25rem;
  justify-self: end;
  color: white;
  font-style: italic;
}

/*Dette er den sektion hvor overskriften er "BEdste tilbud"*/
section.offers {
  padding-left: 3em;
  margin-top: 154px;
  padding-top: 154px;
  background-color: #F5F7F9;
  padding-bottom: 200px;
  /*Her er hover effekten på produkternes baggrunds box*/
}
section.offers div.offers__div {
  max-width: 1198px;
  margin: 0 auto 3em auto;
  display: flex;
  justify-content: space-between;
  /*Her kommer koden til produkterne*/
}
section.offers div.offers__div .offers__h2 {
  font-size: 3em;
  font-weight: 200;
  color: #939FA4;
}
section.offers div.offers__div .bold {
  font-weight: 700;
  color: #000000;
}
section.offers div.offers__div .offers__a {
  width: 169px;
  display: grid;
  place-items: center;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #000000;
  border-radius: 30px;
  height: 60px;
  background-image: linear-gradient(#FFE9E9, #F9C4D2);
  border: none;
  font-size: 1rem;
  font-weight: 400;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
}
section.offers .product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 185px;
  transition: 0.5s;
  max-width: 1198px;
  margin: 0 auto 3em auto;
}
section.offers .product .product__backgroundDiv {
  filter: drop-shadow(0 1rem 0.5rem rgba(82, 82, 82, 0.37));
  display: flex;
  transition: 0.5s;
  place-content: center;
  background-color: #FFE9E9;
  border-radius: 5px;
  margin-left: -4em;
  max-width: 281px;
  height: 165px;
  align-self: center;
}
section.offers .product .product__backgroundDiv .product__img {
  width: 107px;
  height: 134px;
  place-self: center;
}
section.offers .product .product__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
section.offers .product .product__textContainer p {
  color: #A7B0B4;
}
section.offers .product .product__textContainer p.product__p--bold {
  color: black;
  font-weight: 600;
  font-size: 1.125em;
}
section.offers .product:hover {
  box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
  background-color: #FFFFFF;
}
section.offers .product:hover div.product__backgroundDiv {
  filter: drop-shadow(0 0rem 0rem rgba(82, 82, 82, 0.37));
}

/*Her kommer css koden til sectionen som hedder "oplev vores historier"*/
section.moreStories {
  margin-top: 230px;
  margin-bottom: 200px;
}
section.moreStories .moreStories__h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 110px;
}
section.moreStories .moreStories__h2 span.light_grey {
  color: #A7B0B4;
  font-weight: 300;
}
section.moreStories .moreStories__button--a {
  text-align: center;
  font-family: "Rubik", sans-serif;
  place-items: center;
  display: block;
  color: #000000;
  text-decoration: none;
  background-image: linear-gradient(#FFE9E9, #F9C4D2);
  width: 169px;
  border-radius: 30px;
  height: 60px;
  border: none;
  font-size: 1rem;
  margin: 0 auto;
  font-weight: 400;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
  display: grid;
}

div.stories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1198px;
  margin: 0 auto;
  -moz-column-gap: 1.25em;
       column-gap: 1.25em;
  margin-bottom: 5em;
}
div.stories article.story {
  transition: 0.5s;
  border-radius: 5px;
  padding: 0.75em;
  justify-content: center;
  display: grid;
}
div.stories article.story .story__img {
  margin-top: -2rem;
  transition: 0.5s;
}
div.stories article.story .story__h3 {
  max-width: 230px;
  padding: 1.8rem 0 0.5em 2rem;
}
div.stories article.story .story__text {
  color: #A7B0B4;
  font-weight: 300;
  max-width: 328px;
  padding-left: 2em;
  padding-bottom: 1rem;
}
div.stories article.story .story__link {
  padding-left: 2em;
  text-decoration: none;
  color: #F9C4D2;
  font-family: "Rubik", sans-serif;
  padding-bottom: 2em;
}

article.story:hover {
  box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
}
article.story:hover .story__img {
  box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
}

section.inpiration .inpiration__logo {
  max-width: 69px;
  margin: 0 auto 60px auto;
}
section.inpiration .inpiration__h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 90px;
}
section.inpiration .inpiration__h2 span.light_grey {
  color: #A7B0B4;
  font-weight: 300;
}

/*her komme koden til billede galleriet*/
div.imageGallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 20em;
}

/*Nu kommer vi til media querientiesne*/
@media only screen and (max-width: 768px) {
  /*Først starter jeg med at style teksten over billedet, jeg fjerner blandt andet paddignen*/
  section.index_h1_over_img div.index_h1_over_img__div {
    padding-right: 2rem;
  }
  section.index_h1_over_img div.index_h1_over_img__div h1.index_h1_over_img__div__h1 {
    max-width: 162px;
    font-size: 1.5rem;
  }
  section.index_h1_over_img div.index_h1_over_img__div p.index_h1_over_img__div__p {
    font-size: 0.875rem;
  }
  section.offers {
    padding: 0;
    padding-bottom: 3rem;
  }
  section.offers div.offers__div {
    max-width: 600px;
    align-items: center;
    padding-top: 1rem;
  }
  section.offers div.offers__div .offers__h2 {
    font-size: 1.25rem;
    width: 200px;
  }
  section.offers div.offers__div .offers__button {
    max-width: 100px;
    font-size: 0.625rem;
    height: 44px;
  }
  section.offers article.product {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    max-width: 568px;
    row-gap: 1rem;
  }
  section.offers article.product .product__backgroundDiv {
    grid-column: 1/-1;
    width: 281px;
    height: 165px;
    margin: 0;
  }
  section.offers article.product .product__backgroundDiv img.product__img {
    width: 107px;
    height: 134px;
  }
  section.offers article.product .product__textContainer h3, section.offers article.product .product__textContainer .product__p--bold {
    font-size: 0.875rem;
  }
  section.offers article.product .product__textContainer p {
    font-size: 0.75rem;
  }
  section.offers article.product div.product__textContainer:nth-child(1) {
    justify-self: end;
    text-align: left;
    width: 100%;
  }
  section.offers article.product div.product__textContainer:last-of-type {
    justify-self: start;
    text-align: right;
    width: 100%;
  }
  section.moreStories {
    margin-top: 230px;
    margin-bottom: 200px;
  }
  section.moreStories .moreStories__h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 110px;
  }
  section.moreStories .moreStories__h2 span.light_grey {
    color: #A7B0B4;
    font-weight: 300;
  }
  section.moreStories .moreStories__button--a {
    text-align: center;
    display: block;
  }
  section.moreStories .moreStories__button {
    background-image: linear-gradient(#FFE9E9, #F9C4D2);
    width: 169px;
    border-radius: 30px;
    height: 60px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
  }
  div.stories {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 360px) {
  section.offers {
    padding: 0;
  }
  section.offers div.offers__div {
    max-width: 265px;
    align-items: center;
    padding-top: 1rem;
  }
  section.offers div.offers__div .offers__h2 {
    font-size: 1.25rem;
    width: 200px;
  }
  section.offers div.offers__div .offers__button {
    max-width: 100px;
    font-size: 0.625rem;
    height: 44px;
  }
  section.offers article.product {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    max-width: 269px;
  }
  section.offers article.product .product__backgroundDiv {
    grid-column: 1/-1;
    width: 137px;
    height: 77px;
    margin: 0;
  }
  section.offers article.product .product__backgroundDiv img.product__img {
    width: 53px;
    height: 67px;
  }
  section.offers article.product .product__textContainer h3, section.offers article.product .product__textContainer .product__p--bold {
    font-size: 0.875rem;
  }
  section.offers article.product .product__textContainer p {
    font-size: 0.75rem;
  }
  section.offers article.product div.product__textContainer:nth-child(1) {
    justify-self: end;
    text-align: left;
    width: 100%;
  }
  section.offers article.product div.product__textContainer:last-of-type {
    justify-self: start;
    text-align: right;
    width: 100%;
  }
  section.moreStories h2.moreStories__h2 {
    font-size: 1.25rem;
  }
  section.inpiration img.inpiration__logo {
    max-width: 19px;
  }
  section.inpiration h2.inpiration__h2 {
    font-size: 1.25rem;
  }
  section.inpiration div.imageGallery {
    max-width: 318px;
  }
}/*# sourceMappingURL=index_side.css.map */