/*her impoterer jeg style.css filen*/
@import "style.scss";
/*Her kommer stylingen til forsiden*/
section.index_h1_over_img{
    display: grid;
    img{grid-area: 1/1/2/2;}

    div.index_h1_over_img__div {
        grid-area: 1/1/2/2;
        align-content: center;
        justify-self: end;
        padding-right: 12rem;
      
      
        .index_h1_over_img__div__h1{
            font-size: 4rem;
            justify-self: end;
            color: $white;
            text-align: end;
        }.index_h1_over_img__div__p{
            font-size: 2.25rem;
            justify-self: end;
            color: $white;
            font-style: italic;
        }

    }
}
/*Dette er den sektion hvor overskriften er "BEdste tilbud"*/
section.offers{
    padding-left: 3em;
   margin-top: 154px;
   padding-top: 154px;
    background-color: $backgorund_grey;
    padding-bottom: 200px;
   
    div.offers__div{
        max-width: 1198px;
        margin: 0 auto 3em auto;
        display: flex;
        justify-content: space-between;
        .offers__h2{
            font-size: 3em;
            font-weight: 200;
            color: #939FA4;
        }
        .bold{
           
            font-weight: 700;
            color: #000000;
        }
        .offers__a{
            width: 169px;
            display: grid;
            place-items: center;
            font-family: $rubik;
            text-decoration: none;
            color: #000000;
            border-radius: 30px;
            height: 60px;
            background-image: linear-gradient(#FFE9E9, #F9C4D2);
            border: none;
            font-size: 1rem;
            font-weight: 400;
            box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
        }
       

        /*Her kommer koden til produkterne*/
        
    }
    .product{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,1fr);
        height: 185px;
        transition: 0.5s;
        max-width: 1198px;
    
        margin: 0 auto 3em auto;
       
        .product__backgroundDiv{
        filter: drop-shadow(0 1rem 0.5rem rgba(82, 82, 82, 0.37));
           display: flex;
           transition: 0.5s;
           place-content: center;
           background-color: $product_background-color;
           border-radius: 5px;
           margin-left: -4em;
           max-width: 281px;
           height: 165px;
           align-self: center;
          
           .product__img{
            
            width: 107px;
            height: 134px;
            place-self: center;
           }
        }
        .product__textContainer{
            display: flex;
            flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5em;
          p{ color: $grey_text;}
          p.product__p--bold{ 
            color: black;
            font-weight: 600;
            font-size: 1.125em;
        
        }

        }
    }
    /*Her er hover effekten på produkternes baggrunds box*/
    .product:hover{
        box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
     background-color: #FFFFFF;
     div.product__backgroundDiv{
        filter: drop-shadow(0 0rem 0rem rgba(82, 82, 82, 0.37));
     }
    }
    
}

/*Her kommer css koden til sectionen som hedder "oplev vores historier"*/

section.moreStories{
    margin-top: 230px;
    margin-bottom: 200px;
   
    .moreStories__h2{
        text-align: center;
        font-size: 3em;
        margin-bottom: 110px;
    }
    .moreStories__h2 span.light_grey{
        color: $grey_text;
        font-weight: 300;
    }
    .moreStories__button--a{
        text-align: center;
        font-family: $rubik;
     
        place-items: center;
        display: block;
        color: #000000;
        text-decoration: none;
        background-image: $buttonGradient;
        width: 169px;
        border-radius: 30px;
        height: 60px;
        border: none;
        font-size: 1rem;
        margin: 0 auto;
        font-weight: 400;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
        display: grid;
    }
    
}
div.stories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1198px;
    margin: 0 auto;
    column-gap: 1.25em;
    margin-bottom: 5em;

    

    article.story{
        transition: 0.5s;
        border-radius: 5px;
        padding: 0.75em;
        justify-content: center;
        display: grid;
        
         .story__img{
            margin-top: -2rem;
            transition: 0.5s;
         }
        .story__h3{
            max-width: 230px;
          
            padding: 1.8rem 0 0.5em 2rem;
        }
        .story__text{
            color: $grey_text;
            font-weight: 300;
            max-width: 328px;
            padding-left: 2em;
            padding-bottom: 1rem;
        }
        .story__link{
            padding-left: 2em;
            text-decoration: none;
            color: #F9C4D2;
            font-family: $rubik;
            padding-bottom: 2em;
        }
        

    }
  
}
article.story:hover{
    box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
    .story__img{
        box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
    }
    

}

section.inpiration{
    .inpiration__logo{
        max-width: 69px;
        margin: 0 auto 60px auto;
        
    }
    .inpiration__h2{
        text-align: center;
        font-size: 3rem;
        margin-bottom: 90px;
    }
    .inpiration__h2 span.light_grey{
        color: $grey_text;
        font-weight: 300;
        
    }
}

/*her komme koden til billede galleriet*/
div.imageGallery{
    display: grid;
  
    grid-template-columns: repeat(5,1fr);
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 20em;
}

/*Nu kommer vi til media querientiesne*/


@media only screen and (max-width: 768px) {
    /*Først starter jeg med at style teksten over billedet, jeg fjerner blandt andet paddignen*/
    section.index_h1_over_img div.index_h1_over_img__div {
        
        padding-right: 2rem;
        h1.index_h1_over_img__div__h1{
            max-width: 162px;
            font-size: 1.5rem;
        }
        p.index_h1_over_img__div__p{
            font-size: 0.875rem;
        }
    }

    section.offers{
        padding: 0;
        padding-bottom: 3rem;
           div.offers__div{
            max-width: 600px;
            align-items: center;
            padding-top: 1rem;
            
            .offers__h2{
                font-size: 1.25rem;
                width: 200px;
            }
            .offers__button{
                max-width: 100px;
                font-size: 0.625rem;
                height: 44px;
            }
           }
        article.product{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            justify-items: center;
            max-width: 568px;
            row-gap: 1rem;
            

            .product__backgroundDiv{
                grid-column: 1/-1;
                width: 281px;
                height: 165px;
                margin: 0;
                img.product__img{
                    width: 107px;
                    height: 134px;
                }
            }
            .product__textContainer{
                h3, .product__p--bold{
                    font-size: 0.875rem;
                }
                p{
                    font-size: 0.75rem;
                }
            }
            div.product__textContainer:nth-child(1){
                justify-self: end;
                text-align: left;
                width: 100%;


            }
            div.product__textContainer:last-of-type{
                justify-self: start;
                text-align: right;
                width: 100%;

            }
        }
     }
     

    section.moreStories{
        margin-top: 230px;
        margin-bottom: 200px;
       
        .moreStories__h2{
            text-align: center;
            font-size: 3em;
            margin-bottom: 110px;
        }
        .moreStories__h2 span.light_grey{
            color: $grey_text;
            font-weight: 300;
        }
        .moreStories__button--a{
            text-align: center;
            display: block;
        }
        .moreStories__button{
            background-image: $buttonGradient;
            width: 169px;
            border-radius: 30px;
            height: 60px;
            border: none;
            font-size: 1rem;
            
            font-weight: 400;
            box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
          
        }  
    }
    
    

    div.stories{
        display: grid;
    grid-template-rows: repeat(3,1fr);
grid-template-columns: repeat(1,1fr);}


}

@media only screen and (max-width: 360px) {

    section.offers{
        padding: 0;
           div.offers__div{
            max-width: 265px;
            align-items: center;
            padding-top: 1rem;
            
            .offers__h2{
                font-size: 1.25rem;
                width: 200px;
            }
            .offers__button{
                max-width: 100px;
                font-size: 0.625rem;
                height: 44px;
            }
           }
        article.product{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            justify-items: center;
            max-width: 269px;
            

            .product__backgroundDiv{
                grid-column: 1/-1;
                width: 137px;
                height: 77px;
                margin: 0;
                img.product__img{
                    width: 53px;
                    height: 67px;
                }
            }
            .product__textContainer{
                h3, .product__p--bold{
                    font-size: 0.875rem;
                }
                p{
                    font-size: 0.75rem;
                }
            }
            div.product__textContainer:nth-child(1){
                justify-self: end;
                text-align: left;
                width: 100%;


            }
            div.product__textContainer:last-of-type{
                justify-self: start;
                text-align: right;
                width: 100%;

            }
        }
     }
     section.moreStories{
        
        
        h2.moreStories__h2{
            font-size: 1.25rem;
        }}
     section.inpiration{
        img.inpiration__logo{
            max-width: 19px;
        }
        h2.inpiration__h2{
            font-size: 1.25rem;

        }
        div.imageGallery{ max-width: 318px;}
     }
}
