@charset "UTF-8";
/*Her laver jeg alle varibler, og impoterer fonts og styles*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/*variabler*/
/*Her er nogle defualt regler*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Her kommer css koden til "til toppen" knappen */
.border {
  height: 50px;
  width: 50px;
  background: linear-gradient(200.82deg, #FFE9E9 27.89%, #F9C4D2 83.86%) !important;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 90%;
  left: 90%;
  border-radius: 25px;
  transition: 0.3s;
}

.border:hover {
  transform: scale(1.35);
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
}

.border span {
  position: absolute;
  top: 43%;
  left: 35%;
  height: 30%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0);
  border: solid;
  border-color: #000;
  border-width: 3px 0 0 3px;
  transform: rotate(45deg);
}

* {
  scroll-behavior: smooth;
}

/*HEr laver jeg en css class som bruges til vores input, hvor at hvis brugeren taster noget forkert i input skal fejlbekseden opstå i placeholder, hvor placeholderen skifter farve til rød*/
button:hover {
  box-shadow: 1rem 1rem 0.5rem rgba(82, 82, 82, 0.37);
}

/*Her laver jeg en class til alle de ting der skal være bold*/
.bold {
  font-weight: 700;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

/*Her kommer lige en regel til alle texterne, så de for den samme font-size*/
p, h1, h2, h3, button {
  font-family: "Rubik", sans-serif;
}

#wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/*Nu kommer koden til headeren*/
header nav {
  background-color: #FFE9E9;
}

header nav ul {
  background-color: #FFE9E9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 59px;
  /*Her laver jeg hover effekten til dropdown menuen */
}
header nav ul li {
  list-style: none;
}
header nav ul li div.more_info_div {
  flex-direction: column;
  max-width: 120px;
  margin-left: -1.2em;
  display: none;
}
header nav ul li div.more_info_div div.invisible {
  height: 1em;
  opacity: 0;
}
header nav ul li:first-of-type {
  margin-right: 200px;
}
header nav ul li:last-of-type {
  display: none;
}
header nav ul li:hover div.more_info_div {
  z-index: 10;
  display: flex;
  position: absolute;
}
header nav ul li:hover div.more_info_div div {
  background-color: #F9C4D2;
  width: 120px;
}
header nav ul li:hover div.more_info_div div:hover {
  background-color: #FFE9E9;
}
header nav ul li:hover div.more_info_div div a {
  color: #ffffff;
  text-align: center;
  display: block;
  width: 100%;
}
header nav ul li:hover div.more_info_div div.more_info_div_item {
  padding: 29px 15px;
}
header nav ul li a {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

/*Her laver jeg stylingen til footeren */
footer {
  margin-top: 10em;
  padding-bottom: 100px;
  background-color: #F5F7F9;
  /*Her kommer koden til listen i footeren, med de forskeillige menu punkter*/
}
footer div.signUp {
  margin: 0 auto;
  position: relative;
  top: -11em;
  max-width: 770px;
}
footer div.signUp p.signUp__p {
  width: 100%;
  text-align: center;
  margin-bottom: 4em;
  font-size: 1.5rem;
  font-weight: 500;
}
footer div.signUp form.signUp__form {
  width: 100%;
  box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
  background-color: white;
  height: 100px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  /*DEtte er knappen*/
}
footer div.signUp form.signUp__form input.mail {
  justify-self: stretch;
  flex-grow: 1;
  padding-left: 1em;
  font-family: "Rubik", sans-serif;
  border: none;
}
footer div.signUp form.signUp__form input.mail:focus {
  outline: none;
}
footer div.signUp form.signUp__form label {
  width: 2em;
  padding-left: 2em;
  text-align: center;
  color: #92D5F6;
}
footer div.signUp form.signUp__form input.submit {
  transition: 0.5s;
  width: 200px;
  background-image: linear-gradient(#FFE9E9, #F9C4D2);
  height: 80px;
  border: none;
  border-radius: 50px;
  font-size: 1.125em;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-left: auto;
  margin-right: 1em;
}
footer div.signUp form.signUp__form input.submit:hover {
  height: 100px;
  width: 220px;
  margin-right: 0em;
}
footer div.footerList {
  margin-top: -2em;
}
footer div.footerList .footerList_ul {
  display: flex;
  margin-left: 61px;
  max-width: 920px;
  justify-content: space-between;
  align-items: center;
}
footer div.footerList .footerList_ul .footerList_li {
  list-style: none;
  /*Den nedstående linje kode, er til det link til den side man er på*/
}
footer div.footerList .footerList_ul .footerList_li a {
  place-items: center;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: #92D5F6;
}
footer div.footerList .footerList_ul .footerList_li a.aktuelleSideFooter {
  background-color: #F9C4D2;
  width: 120px;
  display: grid;
  height: 65px;
  color: white;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
}
footer div.footerList .footerList_ul .footerList_li img {
  max-width: 240px;
  height: 110px;
  margin-right: 152px;
}

@media only screen and (max-width: 768px) {
  #wrapper {
    max-width: 768px;
  }
  header nav ul {
    gap: 40px;
  }
  header nav ul li:first-of-type {
    margin: 0;
  }
}
@media only screen and (max-width: 361px) {
  #wrapper {
    max-width: 360px;
  }
  header nav ul {
    width: 100%;
    z-index: 10;
    position: fixed;
  }
  header nav ul li {
    display: none;
  }
  header nav ul li:first-of-type {
    display: block;
    margin: 0;
  }
  header nav ul li:first-of-type img {
    max-width: 122px;
    max-height: 55px;
  }
  header nav ul li:last-of-type {
    display: block;
  }
  header nav ul.invisible {
    height: 100%;
    width: 100%;
    gap: 2em;
    flex-direction: column;
    justify-content: start;
    padding-top: 10em;
  }
  header nav ul.invisible li {
    display: block;
  }
  header nav ul.invisible li:last-of-type {
    position: absolute;
    top: 2em;
  }
  /*Nu kommer koden  til footeren*/
  footer div.signUp {
    top: -5rem;
  }
  footer div.signUp form.signUp__form {
    width: 265px;
    height: 51px;
    margin: 0 auto;
  }
  footer div.signUp form.signUp__form input#mail {
    max-width: 100px;
  }
  footer div.signUp form.signUp__form input.submit {
    width: 70px;
    font-size: 0.625rem;
    height: 40px;
  }
  footer div.footerList {
    margin-top: -2em;
  }
  footer div.footerList .footerList_ul {
    display: flex;
    max-width: 360px;
    justify-content: space-between;
    align-items: center;
  }
  footer div.footerList .footerList_ul .footerList_li {
    display: none;
  }
}
/*Nu kommer koden til payment.html*/
/*Her er koden til breadcrumb*/
a {
  color: #8093A7;
  font-family: verdana;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}

section.breadcrumbs {
  width: 80%;
  margin: 4em auto 2em auto;
  display: grid;
  grid: 1fr/repeat(4, 1fr);
  gap: 1%;
}

.pointer {
  height: 80px;
  position: relative;
  background: #F3F5FA;
  display: grid;
  place-items: center;
}

.pointer:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid white;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
}

#first:before {
  border-left: none;
}

#first {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

.pointer:after {
  content: "";
  position: absolute;
  right: -29px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid #F3F5FA;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  z-index: 1;
}

#last:after {
  border-left: none;
}

#last {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.current, .pointer:hover {
  background: #F9C4D2;
  color: #fff;
}

.current:after, .pointer:hover:after {
  border-left: 30px solid #F9C4D2;
}

/*Her koden til de betalingen*/
section.invoicing {
  /*Nu kommer css koden til kort information og pris boxen*/
}
section.invoicing .invoicing__headingDiv {
  display: grid;
  max-width: 670px;
  margin: 5em auto;
}
section.invoicing .invoicing__headingDiv h1.headingDiv__heading {
  font-size: 3rem;
  font-weight: lighter;
  display: block;
  max-width: 269px;
}
section.invoicing .personalInfo {
  max-width: 670px;
  padding: 100px 0;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0rem 0rem 2.5rem rgba(82, 82, 82, 0.37);
  row-gap: 40px;
  display: grid;
  height: 820px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  /*Her tager jeg fat i hver element og deler det ind i griddet på den rigtige måde*/
  /*Den nedestående class, svare til den sidste div hvor der er en input*/
  /*Det her er den sidste gruppe til knappen*/
}
section.invoicing .personalInfo .personalInfo__inputDiv:first-of-type {
  grid-column: 1/-1;
  width: 430px;
}
section.invoicing .personalInfo .personalInfo__inputDiv--doubleItem {
  justify-items: center;
  display: flex;
  width: 100%;
  gap: 100px;
  grid-column: 1/-1;
  max-width: 430px;
}
section.invoicing .personalInfo .personalInfo__inputDiv--doubleItem .inputdivDouble__item {
  display: flex;
  flex-direction: column;
  max-width: 130px;
  gap: 1rem;
}
section.invoicing .personalInfo .personalInfo__inputDiv--doubleItem .inputdivDouble__item label {
  font-size: 1.25rem;
  font-family: "Rubik", sans-serif;
  color: #979797;
}
section.invoicing .personalInfo .personalInfo__inputDiv--doubleItem .inputdivDouble__item input {
  border: none;
  border-bottom: 2px solid #F2F4F6;
  font-size: 1.5em;
  font-family: "Rubik", sans-serif;
  max-width: 130px;
  padding-bottom: 1em;
  transition: 0.3s;
}
section.invoicing .personalInfo .personalInfo__inputDiv--doubleItem .inputdivDouble__item input::-moz-placeholder {
  color: #000000;
}
section.invoicing .personalInfo .personalInfo__inputDiv--doubleItem .inputdivDouble__item input::placeholder {
  color: #000000;
}
section.invoicing .personalInfo .personalInfo__inputDiv--doubleItem .inputdivDouble__item input:focus {
  outline: none;
  padding-top: 1em;
  padding-bottom: 0;
  color: #8093A7;
}
section.invoicing .personalInfo .personalInfo__inputDiv--last {
  grid-column: 1/-1;
  width: 430px;
}
section.invoicing .personalInfo .personalInfo__inputDiv, section.invoicing .personalInfo .personalInfo__inputDiv--last {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /*DEtte gør at der ikke kommer nogen border når man klikker på input field*/
}
section.invoicing .personalInfo .personalInfo__inputDiv label, section.invoicing .personalInfo .personalInfo__inputDiv--last label {
  font-size: 1.25rem;
  font-family: "Rubik", sans-serif;
  color: #979797;
}
section.invoicing .personalInfo .personalInfo__inputDiv input, section.invoicing .personalInfo .personalInfo__inputDiv--last input {
  border: none;
  border-bottom: 2px solid #F2F4F6;
  font-size: 1.5em;
  font-family: "Rubik", sans-serif;
  padding-bottom: 1em;
  transition: 0.3s;
}
section.invoicing .personalInfo .personalInfo__inputDiv input::-moz-placeholder, section.invoicing .personalInfo .personalInfo__inputDiv--last input::-moz-placeholder {
  color: #000000;
}
section.invoicing .personalInfo .personalInfo__inputDiv input::placeholder, section.invoicing .personalInfo .personalInfo__inputDiv--last input::placeholder {
  color: #000000;
}
section.invoicing .personalInfo .personalInfo__inputDiv input:focus, section.invoicing .personalInfo .personalInfo__inputDiv--last input:focus {
  outline: none;
}
section.invoicing .personalInfo .personalInfo__inputDiv input:focus, section.invoicing .personalInfo .personalInfo__inputDiv--last input:focus {
  outline: none;
  padding-top: 1em;
  padding-bottom: 0;
  color: #8093A7;
}
section.invoicing .personalInfo .personalInfo__buttonDiv {
  display: flex;
  margin-left: 5em;
}
section.invoicing .personalInfo .personalInfo__buttonDiv a {
  text-decoration: none;
  width: 169px;
  color: #000000;
  height: 60px;
  font-weight: 500;
  border-radius: 30px;
  background-image: linear-gradient(#FFE9E9, #F9C4D2);
  border: none;
  font-size: 1rem;
  box-shadow: 0rem 1rem 2.5rem rgba(82, 82, 82, 0.37);
  transition: 0.5s;
  display: grid;
  place-items: center;
}
section.invoicing .personalInfo .personalInfo__buttonDiv a:hover {
  box-shadow: 0rem 1rem 1rem rgba(82, 82, 82, 0.37);
}
section.invoicing .cardPayment {
  border-radius: 30px;
  margin: 10em auto 20em auto;
  display: flex;
  box-shadow: 0rem 0rem 2.5rem rgba(82, 82, 82, 0.37);
  max-width: 1170px;
  background-color: transparent;
  /*Her har jeg bare kopiret stylingen fra den tdiligere personalInfo, men nu har jeg bare givet den et andet navn, så jeg kan lave lidt om på den*/
}
section.invoicing .cardPayment .pinkBackground {
  max-width: 470px;
  background-color: #FFE9E9;
  border-radius: 30px 0 0 30px;
  width: 470px;
  z-index: -2;
}
section.invoicing .cardPayment .pinkBackground .pinkBackground__heading {
  font-size: 1.5rem;
  padding-top: 59px;
  font-weight: 600;
  padding-left: 70px;
}
section.invoicing .cardPayment .pinkBackground table.paymentInfo {
  margin: 69px auto;
}
section.invoicing .cardPayment .pinkBackground table.paymentInfo tbody {
  max-width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  row-gap: 0.5em;
}
section.invoicing .cardPayment .pinkBackground table.paymentInfo tbody .paymentInfo__tablerow {
  grid-row: span 1;
  width: 270px;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: space-between;
}
section.invoicing .cardPayment .pinkBackground table.paymentInfo tbody .paymentInfo__tablerow--bold {
  font-weight: bold;
  padding-top: 1em;
}
section.invoicing .cardPayment .pinkBackground table.paymentInfo tbody .paymentInfo__tablerow--empty {
  width: 100%;
  height: 6px;
  background-color: #F9C4D2;
  margin: 1em 0;
}
section.invoicing .cardPayment .whiteBackground {
  max-width: 700px;
}
section.invoicing .cardPayment .personalInfo2 {
  width: 720px;
  padding: 100px 0;
  margin: 0 auto;
  border-radius: 0 30px 30px 0;
  box-shadow: 0rem 0rem 2.5rem rgba(82, 82, 82, 0.37);
  row-gap: 40px;
  display: grid;
  height: 820px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  /*Her kommer koden til den liste der er oppe i toppen*/
  /*Her tager jeg fat i hver element og deler det ind i griddet på den rigtige måde*/
  /*Den nedestående class, svare til den sidste div hvor der er en input*/
  /*Det her er den sidste gruppe til knappen*/
}
section.invoicing .cardPayment .personalInfo2 ul.paymentMethod {
  display: flex;
  padding: 0 5rem;
  width: 100%;
  grid-column: 1/-1;
  justify-content: space-between;
  border-bottom: 2px solid #F2F4F6;
}
section.invoicing .cardPayment .personalInfo2 ul.paymentMethod li {
  list-style: none;
  font-size: 1.125rem;
  font-family: "Rubik", sans-serif;
  width: 134px;
  text-align: center;
}
section.invoicing .cardPayment .personalInfo2 ul.paymentMethod li:first-of-type {
  border-bottom: 3px solid #F9C4D2;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv:first-of-type {
  grid-column: 1/-1;
  width: 430px;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--doubleItem {
  justify-items: center;
  display: flex;
  width: 100%;
  gap: 100px;
  grid-column: 1/-1;
  max-width: 430px;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--doubleItem .inputdivDouble__item {
  display: flex;
  flex-direction: column;
  max-width: 130px;
  gap: 1rem;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--doubleItem .inputdivDouble__item label {
  font-size: 1.25rem;
  font-family: "Rubik", sans-serif;
  color: #979797;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--doubleItem .inputdivDouble__item input {
  border: none;
  border-bottom: 2px solid #F2F4F6;
  font-size: 1.5em;
  font-family: "Rubik", sans-serif;
  max-width: 130px;
  padding-bottom: 1em;
  transition: 0.3s;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--doubleItem .inputdivDouble__item input::-moz-placeholder {
  color: #000000;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--doubleItem .inputdivDouble__item input::placeholder {
  color: #000000;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--doubleItem .inputdivDouble__item input:focus {
  outline: none;
  padding-top: 1em;
  padding-bottom: 0;
  color: #8093A7;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--last {
  grid-column: 1/-1;
  width: 430px;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv, section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--last {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /*DEtte gør at der ikke kommer nogen border når man klikker på input field*/
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv label, section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--last label {
  font-size: 1.25rem;
  font-family: "Rubik", sans-serif;
  color: #979797;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv input, section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--last input {
  border: none;
  border-bottom: 2px solid #F2F4F6;
  font-size: 1.5em;
  font-family: "Rubik", sans-serif;
  padding-bottom: 1em;
  transition: 0.3s;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv input::-moz-placeholder, section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--last input::-moz-placeholder {
  color: #000000;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv input::placeholder, section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--last input::placeholder {
  color: #000000;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv input:focus, section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--last input:focus {
  outline: none;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv input:focus, section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--last input:focus {
  outline: none;
  padding-top: 1em;
  padding-bottom: 0;
  color: #8093A7;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__buttonDiv {
  display: flex;
  margin-right: 10rem;
  grid-column: 1/-1;
  width: 100%;
  justify-content: end;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__buttonDiv button {
  width: 169px;
  height: 60px;
  border-radius: 30px;
  background-image: linear-gradient(#FFE9E9, #F9C4D2);
  border: none;
  font-size: 1rem;
  box-shadow: 0rem 1rem 2.5rem rgba(82, 82, 82, 0.37);
  transition: 0.5s;
}
section.invoicing .cardPayment .personalInfo2 .personalInfo__buttonDiv button:hover {
  box-shadow: 0rem 1rem 1rem rgba(82, 82, 82, 0.37);
}

section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--doubleItem .inputdivDouble__item input.fail::-moz-placeholder {
  color: #ff0000;
}

section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--doubleItem .inputdivDouble__item input.fail::placeholder {
  color: #ff0000;
}

section.invoicing .personalInfo .personalInfo__inputDiv input.fail::-moz-placeholder, section.invoicing .personalInfo .personalInfo__inputDiv--last input.fail::-moz-placeholder {
  color: #ff0000;
}

section.invoicing .personalInfo .personalInfo__inputDiv input.fail::placeholder, section.invoicing .personalInfo .personalInfo__inputDiv--last input.fail::placeholder {
  color: #ff0000;
}

section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv input.fail::-moz-placeholder, section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--last input.fail::-moz-placeholder {
  color: #ff0000;
}

section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv input.fail::placeholder, section.invoicing .cardPayment .personalInfo2 .personalInfo__inputDiv--last input.fail::placeholder {
  color: #ff0000;
}/*# sourceMappingURL=payment.css.map */