/*Her laver jeg alle varibler, og impoterer fonts og styles*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*variabler*/
$header_backgorund: #FFE9E9;
$rubik: "Rubik", sans-serif;
$white: white;
$backgorund_grey : #F5F7F9;
$grey_text: #A7B0B4;
$product_background-color: #FFE9E9;
$buttonGradient: linear-gradient(#FFE9E9, #F9C4D2);
$footerBlue: #92D5F6;
/*Her er nogle defualt regler*/
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
/*Her kommer css koden til "til toppen" knappen */
.border{
    height: 50px;
    width: 50px;
    background: linear-gradient(200.82deg, #FFE9E9 27.89%, #F9C4D2 83.86%) !important;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 90%;
    left: 90%;
    border-radius: 25px;
    transition: .3s;
}

.border:hover{
    transform: scale(1.35);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
}

.border span{
    position:absolute;
    top: 43%;
    left: 35%;
    height: 30%;
    width: 30%;
    background-color: rgba(0,0,0,0);
    border: solid;
    border-color: #000;
    border-width: 3px 0 0 3px; 
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
}

*{scroll-behavior: smooth;}


/*HEr laver jeg en css class som bruges til vores input, hvor at hvis brugeren taster noget forkert i input skal fejlbekseden opstå i placeholder, hvor placeholderen skifter farve til rød*/

button:hover{
    box-shadow: 1rem 1rem 0.5rem rgba(82, 82, 82, 0.37);
}
/*Her laver jeg en class til alle de ting der skal være bold*/
.bold{
    font-weight: 700;
}
img{
    max-width: 100%;
    width: 100%;
   display: block;
}
/*Her kommer lige en regel til alle texterne, så de for den samme font-size*/
p,h1,h2,h3, button{
    font-family: $rubik;
}
#wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
/*Nu kommer koden til headeren*/
header nav{
    background-color: $header_backgorund;
    

}
header nav ul{
    background-color: $header_backgorund;
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 59px;
   
    li{
        list-style: none;
      
    
    }
    li div.more_info_div{
      
        flex-direction: column;
        max-width: 120px;
        margin-left: -1.2em;
        display: none;
        div.invisible{
            height: 1em;
            opacity: 0;
        }
    }
      
   
    li:first-of-type{
       
        margin-right: 200px;
    }
    li:last-of-type{
       
        display: none;
    }
    /*Her laver jeg hover effekten til dropdown menuen */
    li:hover div.more_info_div{
        z-index: 10;
        display: flex;
        position: absolute;
       
       
       
      div{
        background-color: #F9C4D2;
        width: 120px;
      }
      div:hover{
        background-color: $header_backgorund;
      }
       
        div a{
            color: #ffffff;
            text-align: center;
            display: block;
            width: 100%;
        }
      
      
       
    }
    li:hover div.more_info_div div.more_info_div_item{
        padding: 29px 15px ;
    }
   
      
   
    li a{
        font-family:$rubik;
        font-size: 1em;
        color: black;
        text-decoration: none;
        font-weight: 600;
    }

}
/*Her laver jeg stylingen til footeren */

footer{
    margin-top: 10em;
    padding-bottom: 100px;
    background-color: $backgorund_grey;
    div.signUp{
        margin: 0 auto;
        position: relative;
        top: -11em;
        max-width: 770px;
      
        p.signUp__p{
          width: 100%;
            text-align: center;
            margin-bottom: 4em;
            font-size: 1.5rem;
            font-weight: 500;
        }
        form.signUp__form{
            width: 100%;
            box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
           
            background-color: white;
            height: 100px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            
            gap: 1em;
            /*DEtte er knappen*/
          
            input.mail{
             justify-self: stretch;
             flex-grow: 1;
             padding-left: 1em;
            font-family: $rubik;
             border: none;
            }
            input.mail:focus{
                outline: none;
               }
            label{
                width: 2em;
                padding-left: 2em;
                text-align: center;
                color: $footerBlue;
            }
           
            input.submit{
               transition: 0.5s;
                width: 200px;
                background-image: $buttonGradient;
                height: 80px;
                border: none;
                border-radius: 50px;
                font-size: 1.125em;
                font-weight: 400;
                font-family: $rubik;
                margin-left: auto;
                margin-right: 1em;
            }
             input.submit:hover{
               height: 100px;
               width: 220px;
               margin-right: 0em;
            }
        }
    }
    /*Her kommer koden til listen i footeren, med de forskeillige menu punkter*/
    div.footerList{
        margin-top: -2em;
        .footerList_ul{
            display: flex;
            margin-left: 61px;
           
            max-width: 920px;
            justify-content: space-between;
            align-items: center;
            .footerList_li{
                list-style: none;
              
                a{
                 
                   place-items: center;
                 
                    text-decoration: none;
                    font-family: $rubik;
                    color: $footerBlue;
                }
                
                /*Den nedstående linje kode, er til det link til den side man er på*/
                a.aktuelleSideFooter{
                    background-color: #F9C4D2;
                    width: 120px;
                    display: grid;
                    height: 65px;
                    color: white;
                    border-radius: 5px;
                    box-shadow: 1rem 1rem 1.5rem rgba(82, 82, 82, 0.37);
                }
                img{
                    max-width: 240px;
                    height: 110px;
                    margin-right: 152px;
                
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {

    #wrapper{
        max-width: 768px;
    }

    header nav ul{
        gap: 40px;
        li:first-of-type{
            
            margin: 0;}
    }

}
@media only screen and (max-width: 361px) {

    #wrapper{
        max-width: 360px;
    }

    header nav ul{
        width: 100%;
        z-index: 10;
       
       
        position: fixed;
       
        
        li{
            display: none;
          
     
  }
  li:first-of-type{
    display: block;
    margin: 0;
    img{
        max-width: 122px;
        max-height: 55px;
    }
  }
  li:last-of-type{
    display: block;
  }




}

header nav ul.invisible{
    height: 100%;
    width: 100%;
    gap: 2em;
    flex-direction: column;
    justify-content: start;
    padding-top: 10em;
    li{
        display: block;
    }
    li:last-of-type{
        position: absolute;
        top: 2em;
    }







}

/*Nu kommer koden  til footeren*/


footer{
    div.signUp{
        top: -5rem;
        form.signUp__form{
            width: 265px;
            height: 51px;
            margin: 0 auto;
            input#mail{
                max-width: 100px;
            }
            input.submit{
                width: 70px;
                font-size: 0.625rem;
                height: 40px;
            }
        }
    }
}


footer div.footerList{
    margin-top: -2em;
    .footerList_ul{
        display: flex;
      
        max-width: 360px;
        justify-content: space-between;
        align-items: center;
        .footerList_li{
            display: none;
          
          }}}





}
  