@import "style.scss";


.thanks{
    max-width: 600px;
    margin: 10em auto 20em auto;
    color: #F9C4D2;
    h1{
        font-size: 4.5rem;
    }
    p{
        font-size: 2.25rem;
    }
}